<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h1 class="alert-heading">Error</h1>
      <hr />
      <h6 class="alert-heading">Status: <%= error.statusCode %></h6>
      <hr />
      <h6 class="alert-heading">Message: <%= error.message %></h6>
    </div>
  </div>
</div>
